.summary {
    text-align: center;
    max-width: 45rem;
    width: 90%;
    margin: auto;
    margin-top: -10rem;
    position: relative;
    background-color: #0c1728;
    color: white;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.25);
  }
  
  .summary h2 {
    font-size: 2rem;
    margin-top: 0;
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 11%, #5005ab 57%, #b517b0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }